<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>user</title>
</head>
<style>
	body {
		padding: 50px;
		font: 14px;
	}
</style>
<body>
	<h1><%= name.toUpperCase() %></h1>
	<p>hello, <%= name%></p>
</body>
</html>